<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div clivs="profile-element" dropdown>
          <a><strong><h3>Global Start</h3></strong></a>
        </div>
        <div class="logo-element">
          Global Start
        </div>
      </li>

      <!--<li [ngClass]="{active: activeRoute('/admin/dashboard')}">-->
        <!--<a [routerLink]="['/admin/dashboard']"><i class="fa fa-th-large"></i> <span-->
          <!--class="nav-label">Dashboard</span></a>-->
      <!--</li>-->

      <li [ngClass]="{active: activeRoute('/admin/news')}">
        <a [routerLink]="['/admin/news']"><i class="fa fa-newspaper-o"></i> <span class="nav-label">News</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('/admin/user')}">
        <a [routerLink]="['/admin/user']"><i class="fa fa-th-large"></i> <span class="nav-label">Users</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('/admin/Testimonies')}">
        <a [routerLink]="['/admin/Testimonies']"><i class="fa fa-th-large"></i> <span class="nav-label">Testimonies</span></a>
      </li>

    </ul>

  </div>
</nav>
